.column-input-search {
    font-size: 12px;
}

.service-list {
    padding: 10px 10px 10px 10px;

    .button-header {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: 5px
    }
}

.service-detail {
    padding: 10px 10px 10px 10px;

}

.container-content {
    margin-top: 19.5px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}
