.register-form {
    margin-top: 20px;
    margin-bottom: 100px;
    background: #00bee1;
    padding: 20px;
    border-radius: 5px;

    .ant-form-item .ant-form-item-label>label {
        color: white !important;
        // font-size: 15px;
    }
    .ant-input:focus-within {
        border-color: white;
        background-color: white;
        box-shadow: none
    }
   
}
