.contact-form {
    align-items: baseline;
    background: #3ebf16;
    padding: 20px;
    border-radius: 5px;
    .register-form {
        .ant-form-item .ant-form-item-label > label {
            color: white !important;
            // font-size: 15px;
        }
        .ant-input:focus-within {
            border-color: white;
            background-color: white;
            box-shadow: none;
        }
    }
}
