.SideBarWrapper {
    background-color: #222d32 !important;
    color: white;
    font-family: 'Inter' !important;

    .ant-menu-item.ant-menu-item-selected {
        background-color: '$blue-4';
        @apply text-white;

        svg {
            path {
                stroke: white;
            }
        }
    }

    .ant-menu-item {
        // @apply text-gray-1;

        svg {
            path {
                // @apply stroke-gray-1;
            }
        }
    }

    .ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
        border-inline-end: none;
    }

    .ant-menu-item.ant-menu-item-selected{
        background-color: #222d32;
        color:#b8c7ce
    }
    
    .category-separation{
        font-size: 12px;
        color:#4b646f;
        background-color: #1a2226;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
    }
}

.user-panel-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #377fa9;
    color: white;
    height: 50px;
}
